{% extends "base.html.twig" %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    
    <div class="container form">
        <h1 class="mt-4">Formulaire D'inscription</h1>
        {{ form(registrationForm) }}
    </div>
    
{% endblock %}